# Introduction to Python for Data Science

## Python Basics

###  Data Types

#### 1. Numerical Data Types
-Integer- Whole numbers. Keyword is int<br>
-Float- Floating point number. Keyword is float<br>
-Complex- A complex number. Keyword is complex<br>

#### 2. Strings
-Sequence of characters/ text<br>
-Keyword is str<br>

#### 3. Booleans
-A binary data type containing only two values---> True or False<br>
-Keyword is bool<br>

#### 4. Sequences
-The ordered collection of similar or different data types -List<br>
-Tuple<br>
-Dictionary<br>

#### i. Dealing with Numbers- Arithmetic Operations

In [12]:
2 + 2 # addition

4

In [7]:
2 - 2 # subtraction

0

In [8]:
2 * 2 # multiplication

4

In [9]:
2 / 2 # division

1.0

In [13]:
2 // 2 # integer division- rounds division result to the nearest integer.

1

In [15]:
5%2 #Modulo operation- Returns a remainder of the division

1

In [16]:
2 ** 3 #Exponential

8

#### ii. Dealing with strings

Strings are texts in programming. In python they can be created with single or double quoates

In [18]:
#Single quote string
'Hello World'

'Hello World'

In [19]:
#Double quote string
"Hello World"

'Hello World'

In [22]:
#Multi line string. Usually created using triple quotes
print("""Hello
Welcome
To
Data Science Marathon By LUX Academy
""")

Hello
Welcome
To
Data Science Marathon By LUX Academy

In [24]:
#String concatenation
"Helo" + "World" #The plus sign joins two strings

'HeloWorld'

In [25]:
#Repeating a string 
"a"*3 #The multiplication sign repeats the string the number of times specified e.g 3 times

'aaa'

In [26]:
#Convert other objects e.g numbers to string use str()
str(5)

'5'

In [27]:
type(str(5))

str

In [ ]:
#String formatting

We can insert dynamic values from variables or calculations into strings with string formatting

In [29]:
f'string formatting {2 + 2}'

'string formatting 4'

### Variables

In programming, variables are used for holding values.

In [30]:
choices=3 #Variable choice is an integer

In [31]:
choices

3

In python, variables are set with an = sign (assignment operator)

In [32]:
#Use normal operations to manipulate variables 
a=79
b=67
a+b

146

In [33]:
fname="john"
lname="paul"
fname+lname

'johnpaul'

In [34]:
#Checking the type of object a variable is
type(fname)

str

NOTE:<br>
Names for variables can only contain certain characters – numbers, letters, and underscores. Variables must also start with a letter and not numbers. It's also best to avoid variable names, which are the same as built-in functions and keywords.

### Lists, tuples, sets, and dictionaries

These are python data structures that stores a sequence of values

#### i. Lists

-Contained in square brackets<br>
-Contain several values of different data types<br>
-Can even contain a list (list of a list)

In [36]:
list=[1,2,3,4,5] #list of integers
list

[1, 2, 3, 4, 5]

Basic list methods:<br>
                    • Concatenation<br>
                    • Repetition<br>
                    • Length<br>
                    • Appending<br>
                    • Sorting<br>
                    • Indexing

In [38]:
#list Concatenation- use plus sign
list1=[1,2,3,4,5]
list2=[1,2,0]

#Concatenate the 2 lists
list1+list2

[1, 2, 3, 4, 5, 1, 2, 0]

In [39]:
#List repetition- use multiplication sign
list1=[1,2,0]

#Repeat the list twice
list1*2

[1, 2, 0, 1, 2, 0]

In [40]:
#Length of a lsit- use len() function. Returns no of elements in the list
list1=[1,2,0]

#Get lenth of the list
len(list1)

3

In [42]:
#List appending- use append() function. Adds an element at the end of a list
list1=[1,2,0]

#Append 2 to the list
list1.append(2)
list1

[1, 2, 0, 2]

In [43]:
#Sorting a list- Done with sort and sorted functions- arranges the elements in ascending manner
list1=[3,2,0]
list1.sort()
list1

[0, 2, 3]

In [47]:
#To sort in descending manner, add reverse keyword
list1=[2,3,0]
list1.sort(reverse=True)
list1

[3, 2, 0]

In [48]:
#Indexing
list1=[3,2,0]
list1[0] #list element at index 0

3

In [50]:
list1[0:-2]

[3]

In [52]:
list1[len(list1)-1]#gets last element in the list

0

#### ii. Tuples

A tuple is similar to a list, but it cannot be changed once it is created – this is also called immutability. Tuples have parentheses instead of square brackets,

In [56]:
tuple1 = (2, 3)
tuple1

(2, 3)

In [62]:
#Convert a tuple to a list
tuple1 = (2, 3)
list(tuple1)

TypeError: 'list' object is not callable