# Introduction to Python for Data Science

## Python Basics

###  Data Types

#### 1. Numerical Data Types
-Integer- Whole numbers. Keyword is int<br>
-Float- Floating point number. Keyword is float<br>
-Complex- A complex number. Keyword is complex<br>

#### 2. Strings
-Sequence of characters/ text<br>
-Keyword is str<br>

#### 3. Booleans
-A binary data type containing only two values---> True or False<br>
-Keyword is bool<br>

#### 4. Sequences
-The ordered collection of similar or different data types -List<br>
-Tuple<br>
-Dictionary<br>

#### i. Dealing with Numbers- Arithmetic Operations

In [1]:
2 + 2 # addition

4

In [2]:
2 - 2 # subtraction

0

In [3]:
2 * 2 # multiplication

4

In [4]:
2 / 2 # division

1.0

In [5]:
2 // 2 # integer division- rounds division result to the nearest integer.

1

In [6]:
5%2 #Modulo operation- Returns a remainder of the division

1

In [7]:
2 ** 3 #Exponential

8

#### ii. Dealing with strings

Strings are texts in programming. In python they can be created with single or double quoates

In [8]:
#Single quote string
'Hello World'

'Hello World'

In [9]:
#Double quote string
"Hello World"

'Hello World'

In [10]:
#Multi line string. Usually created using triple quotes
print("""Hello
Welcome
To
Data Science Marathon By LUX Academy
""")

Hello
Welcome
To
Data Science Marathon By LUX Academy

In [11]:
#String concatenation
"Helo" + "World" #The plus sign joins two strings

'HeloWorld'

In [12]:
#Repeating a string 
"a"*3 #The multiplication sign repeats the string the number of times specified e.g 3 times

'aaa'

In [13]:
#Convert other objects e.g numbers to string use str()
str(5)

'5'

In [14]:
type(str(5))

str

In [15]:
#String formatting

We can insert dynamic values from variables or calculations into strings with string formatting

In [16]:
f'string formatting {2 + 2}'

'string formatting 4'

### Variables

In programming, variables are used for holding values.

In [17]:
choices=3 #Variable choice is an integer

In [18]:
choices

3

In python, variables are set with an = sign (assignment operator)

In [19]:
#Use normal operations to manipulate variables 
a=79
b=67
a+b

146

In [20]:
fname="john"
lname="paul"
fname+lname

'johnpaul'

In [21]:
#Checking the type of object a variable is
type(fname)

str

NOTE:<br>
Names for variables can only contain certain characters – numbers, letters, and underscores. Variables must also start with a letter and not numbers. It's also best to avoid variable names, which are the same as built-in functions and keywords.

### Lists, tuples, sets, and dictionaries

These are python data structures that stores a sequence of values

#### i. Lists

-Contained in square brackets<br>
-Contain several values of different data types<br>
-Can even contain a list (list of a list)

In [22]:
list=[1,2,3,4,5] #list of integers
list

[1, 2, 3, 4, 5]

Basic list methods:<br>
                    • Concatenation<br>
                    • Repetition<br>
                    • Length<br>
                    • Appending<br>
                    • Sorting<br>
                    • Indexing

In [23]:
#list Concatenation- use plus sign
list1=[1,2,3,4,5]
list2=[1,2,0]

#Concatenate the 2 lists
list1+list2

[1, 2, 3, 4, 5, 1, 2, 0]

In [24]:
#List repetition- use multiplication sign
list1=[1,2,0]

#Repeat the list twice
list1*2

[1, 2, 0, 1, 2, 0]

In [25]:
#Length of a lsit- use len() function. Returns no of elements in the list
list1=[1,2,0]

#Get lenth of the list
len(list1)

3

In [26]:
#List appending- use append() function. Adds an element at the end of a list
list1=[1,2,0]

#Append 2 to the list
list1.append(2)
list1

[1, 2, 0, 2]

In [27]:
#Sorting a list- Done with sort and sorted functions- arranges the elements in ascending manner
list1=[3,2,0]
list1.sort()
list1

[0, 2, 3]

In [28]:
#To sort in descending manner, add reverse keyword
list1=[2,3,0]
list1.sort(reverse=True)
list1

[3, 2, 0]

In [29]:
#Indexing
list1=[3,2,0]
list1[0] #list element at index 0

3

In [30]:
list1[0:-2]

[3]

In [31]:
list1[len(list1)-1]#gets last element in the list

0

#### ii. Tuples

A tuple is similar to a list, but it cannot be changed once it is created – this is also called immutability. Tuples have parentheses instead of square brackets,

In [35]:
tuple1 = (2,3)
type(tuple1)

tuple

In [36]:
#Convert a tuple to a list
tuple1 = (2,3)

In [38]:
del list

In [39]:
tuple_list=list(tuple1) #Convert the tuple to a list

In [40]:
tuple_list

[2, 3]

In [41]:
#Convert list to tuple
list_tuple=tuple(tuple_list)

In [42]:
list_tuple

(2, 3)

#### iii. Sets

Represent a group of unique values. Created with curly braces or set() function.

In [43]:
#Convert a tuple to a set
set(list_tuple)

{2, 3}

In [44]:
#Curly braces
set1={1,2,3,4,5}
set1

{1, 2, 3, 4, 5}

In [48]:
#Set useful functions- Union and Difference
#Union example1
set_1 = {1, 2, 3}
set_2 = {2, 3, 4}
set_1.union(set_2)#Union joins the two sets, the duplicate elements are condensed into one. Sets dont contain duplicates

{1, 2, 3, 4}

In [49]:
#Union example2
set_1 | set_2

{1, 2, 3, 4}

#### iv. Dictionaries

Are similar to sets because they have a unique set of keys, but they also contain elements with key-value pairs.

In [50]:
#Dictionary example
library_items = {'books': 1, 'magazines': 2, 'articles': 7}
library_items

{'books': 1, 'magazines': 2, 'articles': 7}

In [ ]:
Left elements are keys and the ones on the right are the values

In [51]:
#Get a dictionary value from a key
library_items['books']

1

In [52]:
#Adding an element to the dictionary
library_items['journals']=15
library_items

{'books': 1, 'magazines': 2, 'articles': 7, 'journals': 15}

In [60]:
#Joining a two ditionaries
digital_lib_items={'google docs':23,'cited materials':45}

#Join the two dictionaries
library_items.update(digital_lib_items)

In [61]:
library_items

{'books': 1,
 'magazines': 2,
 'articles': 7,
 'journals': 15,
 'google docs': 23,
 'cited materials': 45}

In [62]:
#Use | to join 
library_items|digital_lib_items

{'books': 1,
 'magazines': 2,
 'articles': 7,
 'journals': 15,
 'google docs': 23,
 'cited materials': 45}

### Loops and comprehensions

Loops- Used for iteration. Are important because they enable us to step through lists/ other data structures methodically, one element at a time.

Examples of loops- for and while loops

#### For Loop

looping through a list using for loop

In [66]:
a_list = [1, 2, 3]
for element in a_list:
    print(element) #Prints elements of the list one at a time

1
2
3

Continue and break statements when using for loops

In [68]:
#The break keyword will end a loop
for element in a_list:
    print(element)
    break

1

In [69]:
#continue keyword will immediately move on to the next iteration
for element in a_list:
    print(element)
    continue

1
2
3

Commonly used functions with loops- range() and len()

In [70]:
for i in range(len(a_list)):
    print(i)

0
1
2

In [84]:
for i in range(1,7,1):
    print(i, end=' ')

1 2 3 4 5 6

In [86]:
a_list = [1, 2, 3]
for index, element in enumerate(a_list): #Using inbuilt function enumerate. Returns a tuple
    print(index, element)

0 1
1 2
2 3

In [87]:
empty_list=[]
for element in range(5):
    empty_list.append(element)

In [88]:
empty_list

[0, 1, 2, 3, 4]

In [89]:
#Dictionary comprehension using .items() keyword
a_dict = {'books': 1, 'magazines': 2, 'articles': 7}
for key, value in a_dict.items():
    print(f'{key}:{value}')

books:1
magazines:2
articles:7

### Booleans and conditionals

Booleans are data types that take the binary values of True (1) or False (0).

In [92]:
my_number = 11
my_number > 10

True

Boolean values are often used in if... else statements

if/else statement in Python gives us options for what to do with our code if certain conditions are met.

In [94]:
#if else with booleans
books_read = 12
if books_read < 10:
    print("You have only read a few books.")
elif books_read >= 12:
    print("You've read lots of books!")
else:
    print("You've read 10 or 11 books.")

You've read lots of books!

### Functions

In-built and User-defined functions

Examples of inbuilt functions<br>
-sorted()<br>
-range()<br>
-len() etc

User-defined functions are functions that are created by the programmer and not included in the python built-in library/packages

In [98]:
#Example of a user defined function

#Function to add 2 numbers
def add(a,b):
    return a+b

add(2,3)#call the function to add 2 and 3

5

In [106]:
def test_function(doPrint, printAdd='more'):
    """
    A demo function.
    """
    if doPrint:
        print('test' + printAdd)
        return printAdd
    else:
        print("not true")

test_function(False)

not true